<div
            class="modal fade"
            id="dodajSkupino"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabelSkupina"
            aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabelSkupina">
                        Dodajte skupino
                    </h5>
                    <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form
                            action="#"
                            class="form"
                            id="registrationForm"
                            method="post"
                    >
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="first_name"><h4>Ime skupine</h4></label>
                                <input
                                        class="form-control"
                                        id="first_name"
                                        type="text"
                                        placeholder="Neko ime"
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="last_name"><h4>Limit</h4></label>
                                <input
                                        class="form-control"
                                        id="last_name"
                                        name="last_name"
                                        placeholder="xyz €"
                                        type="text"
                                />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <label for="phone"
                                ><h4>Uporabniško ime prvega čana</h4></label
                                >
                                <input
                                        class="form-control"
                                        id="phone"
                                        name="phone"
                                        type="text"
                                        placeholder="janko7"
                                />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                    >
                        Preklic
                    </button>
                    <button type="button" class="btn btn-primary">
                        Dodajte skupino
                    </button>
                </div>
            </div>
        </div>
    </div>