<form action="/index" id="formaZaPosodabljanje">
<div
                class="modal fade"
                id="spremeniSkupino"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabelSettings">
                            Nastavitve skupine
                        </h5>
                        <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form
                                action="#"
                                class="form"
                                id="registrationFormSettings"
                                method="post"
                        >
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="first_name"><h4>Spremeni ime skupine</h4></label>
                                    <input
                                            class="form-control"
                                            id="first_nameSettings"
                                            type="text"
                                            placeholder="Novo ime"
                                            value="Družina"
                                            required=""
                                            pattern="^[a-zA-Z\s]*$"
                                    />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="last_name"><h4>Spremeni limit</h4></label>
                                    <input
                                            class="form-control"
                                            id="last_nameSettings"
                                            name="last_name"
                                            placeholder="xyz €"
                                            type="text"
                                            value="500"
                                            required=""
                                    />
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger text-white">
                            Izbrišite skupino
                        </button>
                        <button
                                type="button"
                                class="btn btn-secondary text-white"
                                data-dismiss="modal"
                        >
                            Preklic
                        </button>
                        <button type="submit" class="btn btn-primary text-white" onclick="candidate()">
                            Potrdite spremembe
                        </button>
                    </div>
                </div>
            </div>
        </div>
</form>