<script>require('javascripts/checkAddUser')</script>
<div
        class="modal fade"
        id="dodajClana"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Dodaja člana
                </h5>
                <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form
                        action="#"
                        class="form"
                        id="nekajPac1"
                        method="post"
                >
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="first_name"
                            ><h4>Uporabniško ime člana</h4></label
                            >
                            <input
                                    class="form-control"
                                    id="uporabniskoImeClana"
                                    type="text"
                                    placeholder="janeznovak"
                                    required=""
                                    pattern="^[a-zA-Z\s]*$"
                            />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                >
                    Preklic
                </button>
                <button type="button" class="btn btn-primary" onclick="validate()">
                    Dodajte skupino
                </button>
            </div>
        </div>
    </div>
</div>