<nav class="navbar navbar-spendy navbar-first-page">
  <div class="container navbar-first-page">
    <span class="first-page-titles-text navbar-first-page d-none d-sm-block">Dobrodošli na Spendy</span>
    <span class="first-page-titles-text navbar-first-page d-block d-sm-none">Spendy</span>
    <img alt="logo" class="logo-img navbar-spendy navbar-first-page" src="/icons/logo.png"/>
  </div>
</nav>