<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="mr-auto col-md-4">
    <div class="form-group">
      <label for="inputState"
        ><p class="font-weight-light py-0 my-0">
          Izberi pogled skupine
        </p></label
      >
        <select id="idGroup" class="custom-select" required>
            {{#each skupine as |skupina|}}
                <option value="{{skupina._id}}">{{skupina.name}}</option>
            {{/each}}
        </select>
    </div>
  </div>
  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
    <li class="nav-item dropdown">
      <a
        aria-expanded="false"
        aria-haspopup="true"
        class="nav-link text-dark dropdown-toggle"
        data-toggle="dropdown"
        href="#"
        id="navbarDropdown"
        role="button"
      >
        <img
          alt=""
          class="img-fluid rounded-circle avatar mr-2"
          src="icons/user-1.png"
        />
          {{uporabnik.username}}
      </a>
      <div
        aria-labelledby="navbarDropdown"
        class="dropdown-menu dropdown-menu-right"
      >
        <a class="dropdown-item" href="/profil">Moj profil</a>
        <a class="dropdown-item" href="/settings">Nastavitve</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/first_page">Odjava</a>
      </div>
    </li>
  </ul>
</nav>