<nav class="navbar navbar-spendy">
  <ul class="navbar-nav navbar-spendy">
    <li class="logo navbar-spendy">
      <a class="nav-link navbar-spendy" href="">
        <img
          alt="logo"
          class="logo-img navbar-spendy"
          src="icons/logo.png"
        />
        <span class="logo-text navbar-spendy">Spendy</span>
      </a>
    </li>

    <li class="nav-item navbar-spendy">
      <a id="current-page" class="nav-link navbar-spendy" href="index.html">
        <img
          alt="dashboard"
          class="navbar-spendy"
          src="icons/dashboard.svg"
        />
        <span class="link-text navbar-spendy">Pregled</span>
      </a>
    </li>

    <li class="nav-item navbar-spendy">
      <a class="nav-link navbar-spendy" href="graphs.html">
        <img alt="graph" class="navbar-spendy" src="icons/graph.svg" />
        <span class="link-text navbar-spendy">Grafično</span>
      </a>
    </li>

    <li class="nav-item navbar-spendy">
      <a class="nav-link navbar-spendy" href="analysis.html">
        <img
          alt="analysis"
          class="navbar-spendy"
          src="icons/analysis.svg"
        />
        <span class="link-text navbar-spendy">Analiza</span>
      </a>
    </li>

    <li class="nav-item navbar-spendy">
      <a class="nav-link navbar-spendy" href="search.html">
        <img
          alt="expenses"
          class="navbar-spendy"
          src="icons/expenses.svg"
        />
        <span class="link-text navbar-spendy">Stroški</span>
      </a>
    </li>

    <li class="nav-item navbar-spendy">
      <a class="nav-link navbar-spendy" href="groups.html">
        <img alt="groups" class="navbar-spendy" src="icons/groups.svg" />
        <span class="link-text navbar-spendy">Skupine</span>
      </a>
    </li>
  </ul>
</nav>