<nav class="navbar navbar-spendy">
    <ul class="navbar-nav navbar-spendy">
        <li class="logo navbar-spendy">
            <a class="nav-link navbar-spendy" routerLink="">
                <img alt="logo" class="logo-img navbar-spendy" src="/assets/icons/logo.png" />
                <span class="logo-text navbar-spendy">Spendy</span>
            </a>
        </li>

        <li class="nav-item navbar-spendy">
            <!--{{#if navbar_button_selected_index }}-->
            <!--<a id="current-page" class="nav-link navbar-spendy" routerLink="/index">-->
            <!--{{else}}-->
            <a class="nav-link navbar-spendy" routerLink="/overview">
                <!--{{/if}}-->
                <img alt="dashboard" class="navbar-spendy" src="/assets/icons/dashboard.svg" />
                <span class="link-text navbar-spendy">Pregled</span>
            </a>
        </li>

        <li class="nav-item navbar-spendy">
            <!--{{#if navbar_button_selected_graphs }}-->
            <!--<a id="current-page" class="nav-link navbar-spendy" routerLink="/graphs">-->
            <!--{{else}}-->
            <a class="nav-link navbar-spendy" routerLink="/graphs">
                <!--{{/if}}-->
                <img alt="graph" class="navbar-spendy" src="/assets/icons/graph.svg" />
                <span class="link-text navbar-spendy">Grafično</span>
            </a>
        </li>

        <li class="nav-item navbar-spendy">
            <!--{{#if navbar_button_selected_analysis }}-->
            <!--<a id="current-page" class="nav-link navbar-spendy" routerLink="/analysis">-->
            <!--{{else}}-->
            <a class="nav-link navbar-spendy" routerLink="/analysis">
                <!--{{/if}}-->
                <img alt="analysis" class="navbar-spendy" src="/assets/icons/analysis.svg" />
                <span class="link-text navbar-spendy">Analiza</span>
            </a>
        </li>

        <li class="nav-item navbar-spendy">
            <!--{{#if navbar_button_selected_search }}-->
            <!--<a id="current-page" class="nav-link navbar-spendy" routerLink="/search">-->
            <!--{{else}}-->
            <a class="nav-link navbar-spendy" routerLink="/search">
                <!--{{/if}}-->
                <img alt="expenses" class="navbar-spendy" src="/assets/icons/expenses.svg" />
                <span class="link-text navbar-spendy">Stroški</span>
            </a>
        </li>

        <li class="nav-item navbar-spendy">
            <!--{{#if navbar_button_selected_groups }}-->
            <!--<a id="current-page" class="nav-link navbar-spendy" routerLink="/groups">-->
            <!--{{else}}-->
            <a class="nav-link navbar-spendy" routerLink="/groups">
                <!--{{/if}}-->
                <img alt="groups" class="navbar-spendy" src="/assets/icons/groups.svg" />
                <span class="link-text navbar-spendy">Skupine</span>
            </a>
        </li>
    </ul>
</nav>
