<nav class="navbar navbar-spendy">
    <ul class="navbar-nav navbar-spendy">
        <li class="logo navbar-spendy">
            <a class="nav-link navbar-spendy">
                <img *ngIf="isOnline()" alt="logo" class="logo-img navbar-spendy" src="/assets/icons/logo.png" />
                <img hidden alt="logoOffline" src="/assets/icons/logoOffline.png" />
                <img
                    *ngIf="!isOnline()"
                    alt="logo"
                    class="logo-img navbar-spendy"
                    src="/assets/icons/logoOffline.png"
                />
                <span class="logo-text navbar-spendy">Spendy</span>
            </a>
        </li>

        <li class="nav-item navbar-spendy">
            <a class="nav-link navbar-spendy" routerLinkActive="current-page" routerLink="/overview">
                <img
                    alt="dashboard"
                    class="navbar-spendy"
                    src="/assets/icons/dashboard.svg"
                    routerLinkActive="current-page-img"
                />
                <span class="link-text navbar-spendy" routerLinkActive="current-page">Pregled</span>
            </a>
        </li>

        <li class="nav-item navbar-spendy">
            <a class="nav-link navbar-spendy" routerLinkActive="current-page" routerLink="/graphs">
                <img
                    alt="graph"
                    class="navbar-spendy"
                    src="/assets/icons/graph.svg"
                    routerLinkActive="current-page-img"
                />
                <span class="link-text navbar-spendy" routerLinkActive="current-page">Grafično</span>
            </a>
        </li>

        <li class="nav-item navbar-spendy">
            <a class="nav-link navbar-spendy" routerLinkActive="current-page" routerLink="/analysis">
                <img
                    alt="analysis"
                    class="navbar-spendy"
                    src="/assets/icons/analysis.svg"
                    routerLinkActive="current-page-img"
                />
                <span class="link-text navbar-spendy" routerLinkActive="current-page">Analiza</span>
            </a>
        </li>

        <li class="nav-item navbar-spendy">
            <a class="nav-link navbar-spendy" routerLinkActive="current-page" routerLink="/search">
                <img
                    alt="expenses"
                    class="navbar-spendy"
                    src="/assets/icons/expenses.svg"
                    routerLinkActive="current-page-img"
                />
                <span class="link-text navbar-spendy" routerLinkActive="current-page" id="gumbStroski">Stroški</span>
            </a>
        </li>

        <li class="nav-item navbar-spendy">
            <a class="nav-link navbar-spendy" routerLinkActive="current-page" routerLink="/groups">
                <img
                    alt="groups"
                    class="navbar-spendy"
                    src="/assets/icons/groups.svg"
                    routerLinkActive="current-page-img"
                />
                <span class="link-text navbar-spendy" routerLinkActive="current-page">Skupine</span>
            </a>
        </li>
    </ul>
</nav>
