<app-navbar-main></app-navbar-main>

<main>
    <!--<div class="container">-->
    <!--    <div class="row">-->
    <!--        <div class="col-sm-3">-->
    <!--            <mat-card>-->
    <!--                <mat-card-header>-->
    <!--                    <img mat-card-avatar src="assets/icons/user-silhouette.png" alt="Uporabniška slika" />-->
    <!--                    <mat-card-title>{{ user.username }}</mat-card-title>-->
    <!--                    <mat-card-subtitle>Uporabniško ime</mat-card-subtitle>-->
    <!--                </mat-card-header>-->
    <!--                <mat-card-content-->
    <!--                    ><span class="pull-left"><strong>Število skupin</strong>:</span>-->
    <!--                    {{ stevilo_skupin }}-->
    <!--                </mat-card-content>-->
    <!--                &lt;!&ndash;<mat-card-actions>&ndash;&gt;-->
    <!--                &lt;!&ndash;    <button mat-raised-button>SPREMENI SLIKO</button>&ndash;&gt;-->
    <!--                &lt;!&ndash;</mat-card-actions>&ndash;&gt;-->
    <!--            </mat-card>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->

    <div class="container">
        <mat-spinner *ngIf="loading"></mat-spinner>
        <div class="row d-flex justify-content-center">
            <div class="col col-lg-9 p-0">
                <mat-card *ngIf="!loading">
                    <mat-card-header>
                        <img mat-card-avatar src="assets/icons/user-silhouette.png" alt="Uporabniška slika" />
                        <mat-card-title>
                            <h3>{{ user.name.value }} {{ user.surname.value }}</h3>
                        </mat-card-title>
                        <!--<mat-card-subtitle>Uporabnik</mat-card-subtitle>-->
                        <mat-card-subtitle> Število skupin: {{ stevilo_skupin }} </mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="tab-content">
                            <div class="tab-pane active" id="settings">
                                <form (submit)="sendData()" class="form">
                                    <!--ime-->
                                    <div class="form-group">
                                        <mat-card-title>Ime</mat-card-title>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Vnesite željeno ime</mat-label>
                                            <input
                                                matInput
                                                [formControl]="user.name"
                                                required
                                                name="name"
                                                placeholder="Janez"
                                                title="Vnesite željeno ime"
                                                type="text"
                                            />
                                            <mat-error *ngIf="user.name.invalid">{{ nameError }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <!--priimek-->
                                    <div class="form-group">
                                        <mat-card-title>Priimek</mat-card-title>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Vnesite željen priimek</mat-label>
                                            <input
                                                required
                                                matInput
                                                [formControl]="user.surname"
                                                name="surname"
                                                placeholder="Novak"
                                                title="Vnesite željen priimek"
                                                type="text"
                                            />
                                            <mat-error *ngIf="user.surname.invalid">{{ surnameError }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <!--geslo-->
                                    <div class="form-group">
                                        <mat-card-title>Geslo</mat-card-title>
                                        <mat-card-subtitle
                                            >Geslo mora biti dolgo vsaj 8 znakov, mora vsebovati male in velike črke,
                                            številke in specialne znake
                                        </mat-card-subtitle>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Vnesite željeno novo geslo</mat-label>
                                            <input
                                                required
                                                matInput
                                                [formControl]="user.password"
                                                name="password1"
                                                placeholder="Geslo"
                                                title="Vnesite svoje novo geslo"
                                                type="password"
                                                [type]="passwordHide ? 'password' : 'text'"
                                            />
                                            <button
                                                mat-icon-button
                                                matSuffix
                                                (click)="passwordHide = !passwordHide"
                                                [attr.aria-label]="'Hide password'"
                                                [attr.aria-pressed]="passwordHide"
                                            >
                                                <mat-icon>{{
                                                    passwordHide ? "visibility_off" : "visibility"
                                                }}</mat-icon>
                                            </button>
                                            <mat-error *ngIf="user.password.invalid">{{ passwordError }}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <!--limit-->
                                    <div class="form-group">
                                        <mat-card-title>Limit</mat-card-title>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Vnesite željen limit</mat-label>
                                            <input
                                                required
                                                matInput
                                                [formControl]="user.limit"
                                                name="limit"
                                                placeholder="350"
                                                title="Vnesite željen limit"
                                                type="number"
                                            />
                                            <span matSuffix>€</span>
                                            <mat-error *ngIf="user.limit.invalid">{{ limitError }}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <button mat-raised-button color="primary" type="submit">POTRDI SPREMEMBE</button>
                                </form>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <!--/col-9-->
        </div>
    </div>
    <!--/row-->
</main>
