button > a {
  color: #CB3B3B;
}

.box input[type = "submit"] {
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #CB3B3B;
  padding: 14px 40px;
  outline: none;
  color: grey;
  border-radius: 25px;
  transition: 0.25s;
}

.box {
  margin: 0;
  height: 80%;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*background: white;*/
  text-align: center;
  /*box-shadow: 7px 7px 5px grey;*/
}

.box > h1 {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type = "password"] {
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #CB3B3B;
  padding: 14px 10px;
  width: 280px;
  outline: none;
  color: #CB3B3B;
  border-radius: 25px;
  transition: 0.25s;
}

.btn {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #CB3B3B;
  padding: 14px 10px;
  outline: none;
  color: #CB3B3B;
  border-radius: 25px;
  transition: 0.25s;
  width: 250px;
}

#PrijavaGumb {
  color: #CB3B3B;
}

.btn > a {
  padding: 0px 0px;
}

.box input[type = "email"] {
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #CB3B3B;
  padding: 14px 10px;
  width: 280px;
  outline: none;
  color: #CB3B3B;
  border-radius: 25px;
  transition: 0.25s;
}

.box input[type = "text"] {
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #CB3B3B;
  padding: 14px 10px;
  width: 280px;
  outline: none;
  color: #CB3B3B;
  border-radius: 25px;
  transition: 0.25s;
}

.box input[type = "email"]:focus, .box input[type = "password"]:focus {
  width: 250px;
  border-color: grey;
  transition: 0.25s;
}

.box input[type = "submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #CB3B3B;
  padding: 14px 40px;
  outline: none;
  color: grey;
  border-radius: 25px;
  transition: 0.25s;
}

button > a {
  color: #CB3B3B;
}

