<div class="modal-header">
    <h5 class="modal-title">Uredi aktivnost</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="urediExpense" [formGroup]="activityForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="kategorija">Kategorija</label>
            <input
                type="text"
                class="form-control"
                id="kategorija"
                placeholder="Vnesite kategorijo"
                formControlName="category_name"
            />
        </div>
        <div class="form-group">
            <label for="znesek">Znesek</label>
            <input type="text" class="form-control" id="znesek" placeholder="Vnesite znesek" formControlName="cost" />
        </div>
        <div class="form-group">
            <label for="opis">Opis</label>
            <input
                type="text"
                class="form-control"
                id="opis"
                placeholder="Vnesite opis aktivnosti"
                formControlName="description"
            />
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="prihodek" formControlName="isExpenditure" value="false" />
            <label class="form-check-label" for="radioProhodek">Prihodek</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="odhodek" formControlName="isExpenditure" value="true" />
            <label class="form-check-label" for="radioOdhodek">Odhodek</label>
        </div>

        <div class="modal-footer">
            <button id="formButtonSubmit" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
