<!-- ################ navbar ################ -->
<app-navbar-login-signup></app-navbar-login-signup>

<!-- ################ main body ################ -->
<main>
    <div class="main">
        <form (submit)="posiljanjePodatkov()" class="box col-sm-12 col-xl-6" id="forma">
            <div role="alert" *ngIf="napakaNaObrazcu" class="alert alert-danger">{{ napakaNaObrazcu }}</div>
            <div class="form-group"></div>
            <h1>Prijava</h1>
            <input
                placeholder="Epoštni Naslov"
                type="email"
                id="email"
                [(ngModel)]="prijavniPodatki.mail"
                name="email"
            />
            <input
                placeholder="Geslo"
                type="password"
                id="password"
                [(ngModel)]="prijavniPodatki.pass"
                name="password"
            />
            <button class="btn btn-primary" id="PrijavaGumb" type="submit">Prijava</button>
            <a class="nav-link" routerLink="/signup">Registracija</a>
        </form>
    </div>
</main>
