@import "public/stylesheets/main.css";

:root {
  font-size: 22px;
  --first-page-navbar-width: 33%;
  --first-page-navbar-logo-text-size: 1.5rem;
}

.navbar {
  z-index: 10;
}

/* Large and medium screens */
@media only screen and (min-width: 801px) {
  .navbar.navbar-spendy.navbar-first-page {
    /*top: 0;*/
    width: var(--first-page-navbar-width);
    /*height: 100vh;*/
  }

  .container.navbar-first-page {
    display: flex;
    justify-content: space-between;
    height: 100%;

  }

  .navbar.navbar-spendy .logo-img.navbar-spendy.navbar-first-page {
    width: 85%;
    padding: 0;
    margin: auto;
    display: block;
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }

  /*.navbar.navbar-spendy .logo-img.navbar-spendy.navbar-first-page:hover {*/
  /*   transform: rotate(360deg);*/
  /*}*/
  .first-page-titles-text {
    font-size: var(--first-page-navbar-logo-text-size);
    letter-spacing: 0.3ch;
    text-align: center;
    /*color: var(--text-primary);*/
    text-decoration: none;
    filter: grayscale(0%) opacity(0.65);
    transition: var(--transition-speed);

    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
    align-content: center;
    padding: 0 min(2rem, 4%);
  }


  main {
    margin: 0 0 0 var(--first-page-navbar-width);
    padding: 2rem;

  }

}


/* Small screens */
@media only screen and (max-width: 800px) {
  .navbar.navbar-spendy {
    bottom: 0;
    width: 100vw;
    height: 3rem;
  }

  .navbar.navbar-spendy .logo-img.navbar-spendy.navbar-first-page {
    height: 3rem;
  }

  .first-page-titles-text {
    font-size: 1rem;
    letter-spacing: 0.3ch;
    text-align: center;
    /*color: var(--text-primary);*/
    text-decoration: none;
    filter: grayscale(0%) opacity(0.65);
    transition: var(--transition-speed);

    font-weight: bold;
    text-transform: uppercase;
    /*margin: auto;*/
    align-content: center;
    padding: 0 min(3%, 3rem);
  }

  /* hide logo link in bottom row */
  .logo.navbar-spendy {
    /*display: none;*/
  }

  .navbar-nav.navbar-spendy {
    flex-direction: row;
    width: 100%; /* todo: why does this work for aligning to top*/
  }

  .nav-link.navbar-spendy {
    justify-content: center;
  }

  main {
    margin: 0 0 3rem 0;
    /*padding: 16px;*/
  }
}
