<nav class="navbar navbar-spendy">
    <ul class="navbar-nav navbar-spendy">
        <li class="logo navbar-spendy">
            <a class="nav-link navbar-spendy" routerLink="/first-page">
                <img alt="logo" class="logo-img navbar-spendy" src="/assets/icons/logo.png" />
                <span class="logo-text navbar-spendy">Spendy</span>
            </a>
        </li>

        <li class="nav-item navbar-spendy">
            <a class="nav-link navbar-spendy" routerLinkActive="current-page" routerLink="/login">
                <img alt="dashboard" class="navbar-spendy" src="/assets/icons/user.png" />
                <span class="link-text navbar-spendy">Prijava</span>
            </a>
        </li>

        <li class="nav-item navbar-spendy">
            <a class="nav-link navbar-spendy" routerLinkActive="current-page" routerLink="/signup">
                <img alt="Prijava" class="navbar-spendy" src="/assets/icons/edit.svg" />
                <span class="link-text navbar-spendy">Registracija</span>
            </a>
        </li>
    </ul>
</nav>
