<nav class="navbar navbar-spendy">
    <ul class="navbar-nav navbar-spendy">
        <li class="logo navbar-spendy">
            <a class="nav-link navbar-spendy" routerLink="/first-page">
                <!--<img alt="logo" class="logo-img navbar-spendy" src="/assets/icons/logo.png" />-->
                <img *ngIf="isOnline()" alt="logo" class="logo-img navbar-spendy" src="/assets/icons/logo.png" />
                <img hidden alt="logoOffline" src="/assets/icons/logoOffline.png" />
                <img
                    *ngIf="!isOnline()"
                    alt="logo"
                    class="logo-img navbar-spendy"
                    src="/assets/icons/logoOffline.png"
                />
                <span class="logo-text navbar-spendy">Spendy</span>
            </a>
        </li>

        <li class="nav-item navbar-spendy">
            <a class="nav-link navbar-spendy" routerLinkActive="current-page" routerLink="/login">
                <img
                    alt="dashboard"
                    class="navbar-spendy"
                    src="/assets/icons/user.png"
                    routerLinkActive="current-page-img"
                />
                <span class="link-text navbar-spendy" routerLinkActive="current-page">Prijava</span>
            </a>
        </li>

        <li class="nav-item navbar-spendy">
            <a class="nav-link navbar-spendy" routerLinkActive="current-page" routerLink="/signup">
                <img
                    alt="Prijava"
                    class="navbar-spendy"
                    src="/assets/icons/edit.svg"
                    routerLinkActive="current-page-img"
                />
                <span class="link-text navbar-spendy" routerLinkActive="current-page">Registracija</span>
            </a>
        </li>
    </ul>
</nav>
