
{{> navbar_main }}

<main>

    {{> navbar_avatar_and_choose_group }}

    <div class="container-fluid bg-grey px-3" id="content">
        <section class="bg-light py-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9 col-md-8">
                        <h1 class="font-weight-bold mb-0">Analiza</h1>
                        <p class="lead text-muted">Analiza stanja in investiranja</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-mix py-3">
            <div class="container-fluid">
                <div>
                    <div class="card-body row">
                        <div
                                class="input-group-text col-12 col-lg-6 container-fluid d-flex justify-content-center"
                        >
                            <span class="mr-3 font-weight-bold">Od:</span>
                            <div>
                                <input id="dateStart" required type="date" value="2020-10-01"/>
                            </div>
                        </div>

                        <div
                                class="input-group-text col-12 col-lg-6 container-fluid d-flex justify-content-center"
                        >
                            <span class="mr-3 font-weight-bold">Do:</span>
                            <div >
                                <input  id="dateEnd" required type="date" onchange="posodobiPodatke()"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-mix py-3">
            <div class="container-fluid">
                <div class="card rounded-0">
                    <div class="card-body row">
                        <form class="container mb-5 col-sm-12 col-lg-6">
                            <h1 class="container-fluid d-flex justify-content-center">
                                Opomniki
                            </h1>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Ripple meja</span>
                                </div>
                                <input
                                        id="rippleMeja"
                                        type="number"
                                        step="any"
                                        value="7500.35"
                                        class="form-control"
                                        aria-label="Meja v €"
                                />
                                <div class="input-group-append">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Bitcoin meja</span>
                                </div>
                                <input
                                        id="bitcoinMeja"
                                        type="number"
                                        step="any"
                                        value="300.75"
                                        class="form-control"
                                        aria-label="Meja v €"
                                />
                                <div class="input-group-append">
                                    <span class="input-group-text">€</span>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Bitcash meja</span>
                                </div>
                                <input
                                        id="bitcashMeja"
                                        type="number"
                                        step="any"
                                        value="17999.99"
                                        class="form-control"
                                        aria-label="Meja v €"
                                />
                                <div class="input-group-append">
                                    <span class="input-group-text">€</span>
                                </div>

                            </div>
                            <div class="container-fluid d-flex justify-content-center">
                                <button type="submit" class="btn btn-success">
                                    Potrdi
                                </button>
                            </div>
                        </form>

                        <span class="col-sm-12 col-lg-6 mb-5">
                  <h1 class="container-fluid d-flex justify-content-center">
                    Predikcija
                  </h1>

                  <div
                          class="input-group mb-3 container-fluid d-flex justify-content-center"
                  >
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                      >Pričakovani prihodki:</span
                      >
                    </div>
                    <span class="input-group-text bg-success">+210€</span>
                  </div>
                  <div
                          class="input-group mb-3 container-fluid d-flex justify-content-center"
                  >
                    <div class="input-group-prepend">
                      <span class="input-group-text">Pričakovani odhodki:</span>
                    </div>
                    <span class="input-group-text bg-danger">-150€</span>
                  </div>
                  <div
                          class="input-group mb-3 container-fluid d-flex justify-content-center"
                  >
                    <div class="input-group-prepend">
                      <span class="input-group-text">Skupno:</span>
                    </div>
                    <span class="input-group-text bg-success">+60€</span>
                  </div>
                </span>
                        <!--
                        <div class="col-sm-12 col-lg-6 mb-5">
                            <h1 class="container-fluid d-flex justify-content-center">
                                Predikcijski graf
                            </h1>
                            <canvas
                                    height="40%"
                                    id="predictionChart"
                                    width="50%"
                            ></canvas>
                        </div>

                        -->
                        <div class="col-sm-12 col-lg-6 mb-5">
                            <h1 class="container-fluid d-flex justify-content-center">
                                Ripple
                            </h1>
                            <canvas height="40%" id="rippleChart" width="50%"></canvas>
                        </div>
                        <div class="col-sm-12 col-lg-6 mb-5">
                            <h1 class="container-fluid d-flex justify-content-center">
                                Bitcoin
                            </h1>
                            <canvas height="40%" id="bitcoinChart" width="50%"></canvas>
                        </div>
                        <div class="col-sm-12 col-lg-6 mb-5">
                            <h1 class="container-fluid d-flex justify-content-center">
                                Bitcash
                            </h1>
                            <canvas height="40%" id="bitcashChart" width="50%"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>


<script
        crossorigin="anonymous"
        integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
        src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
></script>
<script>
    let currentLoc = window.location.href;
    let putDate = currentLoc.substring(currentLoc.match("finish=").index, currentLoc.match("finish=").index + 17);
    putDate = putDate.split("=")[1];
    if(putDate && putDate.length > 0){
        document.getElementById("dateEnd").value = putDate;
    }
    function posodobiPodatke(){
        let url = "/analysis?"

        var start = $('#dateStart').val();

        var finish = $('#dateEnd').val();
        if(start > finish){
            let tmp = start;
            start = finish;
            finish = tmp;
        }
        url = url + 'start=' + start + '&finish=' + finish;
        console.log(url);
        window.location = url;

    }
</script>
<script>
    let dataBitcoin = {{narediArray graphData.bitcoin}};
    let resultData = [];
    for(let i = 0 ; i < dataBitcoin.length ; i++){
        resultData.push(Math.round(100* dataBitcoin[i][1]) / 100);
    }
    let resultDate = [];
    for(let i = 0 ; i < dataBitcoin.length ; i++){

        const datum = new Date(dataBitcoin[i][0]);
        const d = datum.getDate();
        const m = datum.getMonth();
        const l = datum.getFullYear();
        resultDate.push(`${d}. ${m}, ${l}`);
    }
    var meja = document.getElementById("bitcoinMeja").value;
    if(meja > resultData[resultData.length - 1]){
        document.getElementById("bitcoinMeja").classList.add("bg-success");
    }else{
        document.getElementById("bitcoinMeja").classList.add("bg-danger");
    }

    var ctx = document.getElementById("bitcoinChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: resultDate,
            datasets: [
                {
                    label: "Bitcoin cena v €",
                    data: resultData,
                    backgroundColor: ["rgba(0, 0, 0, 0.0)"],
                    borderColor: [
                        "rgba(92, 184, 92, 1)"
                    ],
                    borderWidth: 1,
                },
            ],
        },
    });
</script>
<script>
    let dataBitcash = {{narediArray graphData.bitcash}};
    resultData = [];
    resultDate = [];
    for(let i = 0 ; i < dataBitcash.length ; i++){
        resultData.push(dataBitcash[i][1]);

        const datum = new Date(dataBitcash[i][0]);
        const d = datum.getDate();
        const m = datum.getMonth();
        const l = datum.getFullYear();
        resultDate.push(`${d}. ${m}, ${l}`);
    }
    var meja = document.getElementById("bitcashMeja").value;
    if(meja > resultData[resultData.length - 1]){
        document.getElementById("bitcashMeja").classList.add("bg-success");
    }else{
        document.getElementById("bitcoinMeja").classList.add("bg-danger");
    }


    var ctx = document.getElementById("bitcashChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: resultDate,
            datasets: [
                {
                    label: "Bitcash cena v €",
                    data: resultData,
                    backgroundColor: ["rgba(0, 0, 0, 0.0)"],
                    borderColor: [
                        "rgba(92, 184, 92, 1)"
                    ],
                    borderWidth: 1,
                },
            ],
        },
    });
</script>

<script>
    let dataRipple = {{narediArray graphData.ripple}};
    resultData = [];
    resultDate = [];
    for(let i = 0 ; i < dataRipple.length ; i++){
        resultData.push(dataRipple[i][1]);

        const datum = new Date(dataRipple[i][0]);
        const d = datum.getDate();
        const m = datum.getMonth();
        const l = datum.getFullYear();
        resultDate.push(`${d}. ${m}, ${l}`);
    }

    var meja = document.getElementById("rippleMeja").value;
    if(meja > resultData[resultData.length - 1]){
        document.getElementById("rippleMeja").classList.add("bg-success");
    }else{
        document.getElementById("bitcoinMeja").classList.add("bg-danger");
    }

    var ctx = document.getElementById("rippleChart").getContext("2d");
    var myChart = new Chart(ctx, {
        type: "line",
        data: {
            labels: resultDate,
            datasets: [
                {
                    label: "Ripple cena v €",
                    data: resultData,
                    backgroundColor: ["rgba(0, 0, 0, 0.0)"],
                    borderColor: [
                        "rgba(92, 184, 92, 1)"
                    ],
                    borderWidth: 1,
                },
            ],
        },
    });
</script>