{{> navbar_first_page }}

<main>
  <form action="/api/db/import">
    <input type="submit" value="Import to db" />
  </form>
  <form action="/api/db/drop">
    <input type="submit" value="Drop the db" />
  </form>
</main>
