<!DOCTYPE html>
<html lang="sl">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="/icons/logo.ico" rel="icon" />
    <title>{{title}}</title>

    <!--default stylesheets-->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/stylesheets/main.css" rel="stylesheet" />
    <link href="/stylesheets/navbar.css" rel="stylesheet" />

    <!-- dynamically load different css files that are needed-->
    {{#each stylesheets_load}}
      <link href="{{this}}" rel="stylesheet" />
    {{/each}}
  </head>
  <body>

    <div>
      {{{body}}}
    </div>

    <!--default scripts-->
    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script>
      //todo:
      <!--var uporabnik = ;-->
    </script>
    <!--dynamically load in the scripts-->
    {{#each scripts_load}}
      <script src="{{this}}"></script>
    {{/each}}

  </body>
</html>
