
<!-- ################ navbar ################ -->
<nav class="navbar navbar-spendy">
    <ul class="navbar-nav navbar-spendy">

        <li class="logo navbar-spendy">
            <a class="nav-link navbar-spendy" href="first_page.html">
                <img alt="logo" class="logo-img navbar-spendy" src="icons/logo.png"/>
                <span class="logo-text navbar-spendy">Spendy</span>
            </a>
        </li>

        <li class="nav-item navbar-spendy">
            <a id="current-page" class="nav-link navbar-spendy" href="#">
                <img alt="dashboard" class="navbar-spendy" src="icons/user.png"/>
                <span class="link-text navbar-spendy">Prijava</span>
            </a>
        </li>

        <li class="nav-item navbar-spendy">
            <a class="nav-link navbar-spendy" href="signup.html">
                <img alt="Prijava" class="navbar-spendy" src="icons/edit.svg"/>
                <span class="link-text navbar-spendy">Registracija</span>
            </a>
        </li>
    </ul>
</nav>


<!-- ################ main body ################ -->
<main>

    <!--        <div class="container">-->
    <!--            <div class="row justify-content-center">-->
    <!--                <div class="col-lg-6 col-md-6 col-sm-6" style="border: #1C0808 solid">-->
    <!--                    Row 1 col 1-->
    <!--                </div>-->
    <!--                <div class="col-lg-6 col-md-6 col-sm-6" style="border: #1C0808 solid">-->
    <!--                    Row 1 col 2-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <div class="main">
        <form action="index.html" class="box col-sm-12 col-xl-6" method="post">
            <div class="form-group"></div>
            <h1>Prijava</h1>
            <input placeholder="Epoštni Naslov" type="email">
            <input placeholder="Geslo" type="password">
            <button class="btn btn-primary" id="PrijavaGumb" type="submit"><a class="nav-link" href="index.html">Prijava</a>
            </button>
            <button class="btn btn-primary" type="submit"><a class="nav-link" href="signup.html">Registracija</a></button>
        </form>
    </div>

</main>



<!-- auto refresh on change when developing "python3 -m http.server" -->
<!--    <script type="text/javascript" src="http://livejs.com/live.js"></script>-->