
<!-- ################ navbar ################ -->
{{> navbar_login_signup }}


<!-- ################ main body ################ -->
<main>

    <!--        <div class="container">-->
    <!--            <div class="row justify-content-center">-->
    <!--                <div class="col-lg-6 col-md-6 col-sm-6" style="border: #1C0808 solid">-->
    <!--                    Row 1 col 1-->
    <!--                </div>-->
    <!--                <div class="col-lg-6 col-md-6 col-sm-6" style="border: #1C0808 solid">-->
    <!--                    Row 1 col 2-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <div class="main">
        <form class="box col-sm-12 col-xl-6" method="post" id="toJePost">
            <div class="form-group"></div>
            <h1>Registracija</h1>
            <input placeholder="Ime" type="text">
            <input placeholder="Priimek" type="text">
            <input placeholder="Epoštni Naslov" type="email">
            <input placeholder="Geslo" type="password" id="password">
            <input placeholder="Ponovite geslo" type="password" id="password1">
            <button class="btn btn-primary" type="submit" id="registracijaGumb" onclick="validate()">Registracija</button>
        </form>
    </div>

</main>

<!-- load scripts at the end -->
<script src="javascripts/checkSignUp.js" type="text/javascript"></script>

<!-- auto refresh on change when developing "python3 -m http.server" -->
<!--    <script type="text/javascript" src="http://livejs.com/live.js"></script>-->
