<div
    id="modal1"
    class="card my-2 cursor-pointer"
    data-toggle="modal"
    data-target="#exampleModal"
    [attr.date]="aktivnost.category_name"
    [attr.date]="aktivnost.date"
    [attr.description]="aktivnost.description"
    [attr.isExpenditure]="aktivnost.cost"
    [attr.isExpenditure]="aktivnost.isExpenditure"
    [attr.expenseId]="aktivnost._id"
>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-1 d-flex flex-column justify-content-center">
                <i
                    [ngClass]="aktivnost.isExpenditure ? 'fas fa-arrow-down' : 'fas fa-arrow-up'"
                    [style.color]="aktivnost.isExpenditure ? '#cb3b3b' : '#45a72d'"
                    style="font-size: 48px"
                ></i>
            </div>
            <div class="col-lg-11">
                <div class="row mx-0">
                    <div class="mr-auto"></div>
                    <div>
                        <p class="font-weight-light">{{ aktivnost.date | date: "dd/MM/yy" }}</p>
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="mr-auto">
                        <h4>{{ aktivnost.category_name }}</h4>
                    </div>
                    <div>
                        <h4>{{ aktivnost.cost }} €</h4>
                    </div>
                </div>
            </div>
            <div></div>
        </div>
    </div>
</div>
