<app-navbar-main></app-navbar-main>

<main>
    <app-navbar-avatar-and-choose-group></app-navbar-avatar-and-choose-group>
    <div class="container-fluid bg-grey px-3" id="content">
        <section class="bg-light py-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9 col-md-8">
                        <h1 class="font-weight-bold mb-0">Grafično</h1>
                        <p class="lead text-muted">Grafični prikaz prihodkov in odhodkov.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-mix py-3">
            <div class="container-fluid">
                <div>
                    <div class="card-body row"></div>
                </div>
            </div>
        </section>

        <section class="bg-mix py-3">
            <div class="container-fluid">
                <div class="card rounded-0">
                    <div class="card-body row">
                        <div class="col-sm-12 col-lg-6 mb-5">
                            <h1 class="container-fluid d-flex justify-content-center">Prihodki</h1>
                            <div class="spinner-and-error-msg">
                                <mat-spinner *ngIf="loading"></mat-spinner>
                            </div>
                            <canvas
                                baseChart
                                [datasets]="prihodkiChartData"
                                [labels]="prihodkiChartLabels"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType"
                                height="40%"
                                id="expensesChart"
                                width="50%"
                            >
                            </canvas>
                        </div>
                        <div class="col-sm-12 col-lg-6 mb-5">
                            <h1 class="container-fluid d-flex justify-content-center">Odhodki</h1>
                            <div class="spinner-and-error-msg">
                                <mat-spinner *ngIf="loading"></mat-spinner>
                            </div>
                            <canvas
                                baseChart
                                [datasets]="odhodkiChartData"
                                [labels]="odhodkiChartLabels"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType"
                                height="40%"
                                id="incomeChart"
                                width="50%"
                            >
                            </canvas>
                        </div>
                        <!--<div class="col-sm-12 col-lg-6 mb-5">
                            <h1 class="container-fluid d-flex justify-content-center">
                                Stanje
                            </h1>
                            <canvas height="40%" id="balanceChart" width="50%"></canvas>
                        </div>-->
                        <div class="col-sm-12 col-lg-6 mb-5">
                            <h1 class="container-fluid d-flex justify-content-center">Tortni</h1>
                            <div class="spinner-and-error-msg">
                                <mat-spinner *ngIf="loading"></mat-spinner>
                            </div>
                            <canvas
                                baseChart
                                height="40%"
                                id="vsChart"
                                width="50%"
                                [datasets]="pieChartData"
                                [labels]="pieChartLabels"
                                [legend]="pieChartLegend"
                                [chartType]="pieChartType"
                            >
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
